// layout.pug
doctype html
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/styles.css')
  body
    nav
      ul
        li
          a#inicio(href='/') 
            img#iconosImg(src="../images/inicio.png", alt="Inicio") 
            | Inicio
        li
          a#productos(href='/catalogo') 
            img#iconosImg(src="../images/productos.png", alt="productos") 
            | Productos
        li
          if usuario 
            p Hola, #{usuario.nombreUsuario}
          else 
            a#iniciarSesion(href='/login') 
              img#iconosImg(src="../images/login.png", alt="iniciar sesi贸n") 
              | Iniciar sesi贸n
        li 
          if usuario 
            a#iniciarSesion(href="/close")
              img#iconosImg(src="../images/closeSesion.png", alt="cerrar sesi贸n") 
              | Cerrar sesi贸n
        li
          a#carritoEnlace(href='/carrito')  
            img#iconosImg(src="../images/carrito.png", alt="carrito de compras") 
            | #{carrito.length} 

    .container
      block content
