extends layout

block content
    h1 Iniciar sesión
    form(action='/login', method='post' class='login-form')
        input(type='text', name = 'email', placeholder='Correo', required  class='inp-login')

        input(type='password', name='pwd', placeholder='Contraseña', required class='inp-login')

        button(type='submit' class='btn-login') Iniciar sesión

        if (locals.error)
          p #{locals.error}