extends layout

block content
    h1 Inicia sesión para comprar
    form(action='/login', method='post' class='login-form')
        input(type='text', name = 'email', placeholder='Correo', required  class='inp-login')

        input(type='password', name='pwd', placeholder='Contraseña', required class='inp-login')

        button(type='submit' class='btn-login') Iniciar sesión

        p Usa el siguiente medio de logueo para probar la función de logueo: 
        // Nota: ESTO SOLO SIRVE PARA PODER DEMOSTRAR QUE ESTE MEDIO FUNCIONA, POR NINGUNA CIRCUNSTANCIA
        // SE DEBERÁ DE MANTENER ESTE MEDIO DE AUTENTICACION
        p
          strong email: 
          |root@example.com
        p 
          strong contraseña: 
          |rootTumbaLaCasa

        if (locals.error)
          p #{locals.error}